/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0 0 9rem 0;
}

h1.title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 2rem;
}

.wheel {
  position: absolute;
    left: calc(48% - 20px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border: rgb(20, 20, 20);
    border-radius: 50%
}

button.info {
  background-color: rgb(56, 56, 56);
  float: right;
  border-radius: 50%;
  font-family: 'Courier New', Courier, monospace;
  border-color: rgb(68, 68, 68);
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-right: 6rem;
  transition-duration: 0.4s;
  cursor: pointer;
}

button.info:hover {
  background-color: rgb(56, 56, 56);
  color: rgb(107, 107, 107);
}

.characters {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type='image'] {
  border-radius: 40%;
  position:absolute;
}

#MichaelScott {
  transform: translateX(300px);
}

#JimHalpert {
  transform: rotate(30deg) translateX(300px);
}

#PamBeesly {
  transform: rotate(60deg) translateX(300px);
}

#DwightShrute {
  transform: rotate(90deg) translateX(300px);
}

#AngelaMartin {
  transform: rotate(120deg) translateX(300px);
}

#KevinMalone {
  transform: rotate(150deg) translateX(300px);
}

#KellyKapoor {
  transform: rotate(180deg) translateX(300px);
}

#PhyllisVance {
  transform: rotate(210deg) translateX(300px);
}

#StanleyHudson {
  transform: rotate(240deg) translateX(300px);
}

#OscarNunez {
  transform: rotate(270deg) translateX(300px);
}

#AndyBernard {
  transform: rotate(300deg) translateX(300px);
}

#DarrylPhilbin {
  transform: rotate(330deg) translateX(300px);
}

.birthday {
  text-align: center;
  position: relative;
  padding: 20rem;
}

h4.bday {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  size: 20pt;
}
