/* FONTS */

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin_Sans';
  src: url('../fonts/JosefinSans/josefinsans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

body {
  background-image: url("../images/zodiacbackground.svg");
  background-position: center;
  position: relative;
  background-color: #2b2b2b;
  background-repeat: no-repeat;
  background-size: cover contain;
  margin: 1rem;
  max-height:min-content;
}

h1.title {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 2rem;
  padding-bottom: 0.5rem;
  font-size: 50px;
}

button.info {
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
  font-family: 'Courier New', Courier, monospace;
  border-color: rgb(43, 43, 43);
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-right: 6rem;
  cursor: pointer;
  position: absolute;
}

.button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}

.row1 {
  display: table;
  margin: 0 auto;
}

#ari {
  background-image: url('/images/darrylphilbin.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

#ari:hover {
  background-image: url('/images/darryl_name.svg');
}

#tau {
  background-image: url('/images/angelamartin.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

#tau:hover {
  background-image: url('/images/angela_name.svg');
}

.row4{
  display: table;
  margin: 0 auto;
  padding-top: 2rem;
}

.row2, .row3, .row5, .row6 {
  display: table;
  margin: 0 auto;
}

#gem {
  background-image: url('/images/andybernard.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12rem;
}

#gem:hover {
  background-image: url('/images/andy_name.svg');
}

#can {
  background-image: url('/images/kevinmalone.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12rem;
}

#can:hover {
  background-image: url('/images/kevin_name.svg');
}

#leo {
  background-image: url('/images/dwightshrute.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18rem;
  margin-top: 2rem;
}

#leo:hover {
  background-image: url('/images/dwight_name.svg');
}

#vir {
  background-image: url('/images/jimhalpert.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18rem;
  margin-top: 2rem;
}

#vir:hover {
  background-image: url('/images/jim_name.svg');
}

#lib {
  background-image: url('/images/kellykapoor.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#lib:hover {
  background-image: url('/images/kelly_name.svg');
}

#sco {
  background-image: url('/images/michaelscott.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#sco:hover {
  background-image: url('/images/michael_name.svg');
}

#sag {
  background-image: url('/images/oscarnunez.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12rem;
}

#sag:hover {
  background-image: url('/images/oscar_name.svg');
}

#cap {
  background-image: url('/images/pambeesly.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12rem;
}

#cap:hover {
  background-image: url('/images/pam_name.svg');
}

#aqu {
  background-image: url('/images/phyllissmith.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

#aqu:hover {
  background-image: url('/images/phyllis_name.svg');
}

#pis {
  background-image: url('/images/stanleyhudson.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

#pis:hover {
  background-image: url('/images/stanley_name.svg');
}

.userinfo {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 40%;
  margin-top: 50px;
}