/* GENERAL */
body {
  background-image: url("../images/zodiacbackground.svg");
  background-position: center;
  position: relative;
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover contain;
  margin: 0.8rem;
  max-height:min-content;
}

h1.title {
  color: white;
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding-bottom: 0.3rem;
  font-size: 50px;
}

.button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 2rem;
  margin-right: 2rem;
}

.row1 {
  display: table;
  margin: 0 auto;
}

#angela {
  background-image: url('../images/angelamartin.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

#angela:hover {
  background-image: url('../images/angela_name.svg');
}

#stanley {
  background-image: url('../images/stanleyhudson.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

#stanley:hover {
  background-image: url('../images/stanley_name.svg');
}

.row4{
  display: table;
  margin: 0 auto;
  padding-top: 2rem;
}

.row2, .row3, .row5, .row6 {
  display: table;
  margin: 0 auto;
}

#oscar {
  background-image: url('../images/oscarmartinez.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12rem;
}

#oscar:hover {
  background-image: url('../images/oscar_name.svg');
}

#pam {
  background-image: url('../images/pambeesly.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12rem;
}

#pam:hover {
  background-image: url('../images/pam_name.svg');
}

#andy {
  background-image: url('../images/andybernard.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18rem;
  margin-top: 2rem;
}

#andy:hover {
  background-image: url('../images/andy_name.svg');
}

#jim {
  background-image: url('../images/jimhalpert.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18rem;
  margin-top: 2rem;
}

#jim:hover {
  background-image: url('../images/jim_name.svg');
}

#phyllis {
  background-image: url('../images/phyllissmith.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#phyllis:hover {
  background-image: url('../images/phyllis_name.svg');
}

#dwight {
  background-image: url('../images/dwightshrute.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#dwight:hover {
  background-image: url('../images/dwight_name.svg');
}

#kelly {
  background-image: url('../images/kellykapoor.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12rem;
}

#kelly:hover {
  background-image: url('../images/kelly_name.svg');
}

#darryl {
  background-image: url('../images/darrylphilbin.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12rem;
}

#darryl:hover {
  background-image: url('../images/darryl_name.svg');
}

#michael {
  background-image: url('../images/michaelscott.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
}

#michael:hover {
  background-image: url('../images/michael_name.svg');
}

#kevin {
  background-image: url('../images/kevinmalone.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

#kevin:hover {
  background-image: url('../images/kevin_name.svg');
}

#bdaylabel {
  width: 280px;
  height: 100px;
}

.userinfo {
  text-align: center;
  top: 40%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  float: center;
  width: 300px;
}

.helpModal {
  padding: 1rem;
}

#btn-modal-open {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid white;
  border-radius: 50px;

  padding: 8px 14px;
  margin: 2em 50vw 0;
  text-align: center;
  margin: auto;
  float: center;
  

  color: white;
  box-shadow: 0px 0px 20px rgb(117, 117, 117);
  background: none;
  
  cursor: pointer;
}
#btn-modal-open:hover {
      background-color: #5a5a5a;
      cursor: pointer;
      transition: 0.35s ease-in-out ;
}

#bday {
  background: #5a5a5a;
  color: white;
  font-size: 90%;
  border: none;
  border-radius: 70px;
  width: 100px;
  padding: 0.5rem;
  margin: 1.5rem 0;
  box-shadow: 0px 0px 10px rgb(141, 141, 141);
}

#userSubmit input{
  background-color:rgba(255, 255, 255, 0.0);
  border: 2px solid white;
  border-radius: 60px;
  padding: 10px;
  color: white;
  font-size: 80%;
  letter-spacing: 2px;
  box-shadow: 0px 0px 20px rgb(117, 117, 117);
  cursor: pointer;
}

#userSubmit input:hover {
  background-color: #5a5a5a;
  transition: 0.35s ease-in-out ;
}

[hidden] {
  display: none !important;
}

/* Modal */
.modal {
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.modal .blanket, .helpModal {
    background-color: rgba(0, 0, 0, .8);
 
    height: 100vh;
    width: 100vw;
 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
 
.modal-body {
    background-color: #fff;
    border: 1rem solid rgb(77, 77, 77);
    border-radius: 50%;
 
    height: 60vh;
    max-width: 60vw;
 
    position: relative;
    z-index: 101;
 
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}

#zDisplayImg {
  width: 200px;
  height: 110px;
  border-radius: 3%;
}

#zTitle {
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 120%;
}

#zDateRange {
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40%;
}

#zMoreInfo {
  font-family: "itc-american-typewriter", serif;
  font-weight: 300;
  font-style: normal;
  width: 500px;
  font-size: 70%;
  padding: 0 2rem;
}